@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap');
body {
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* Header */
.header {
    background-image: url(./images/Layer\ 1\ 5\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.header-menu {
    background:  rgba(94, 93, 88, 0.6);
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar */
.navbar {
   text-transform: uppercase;
}
.nav-link {
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    margin: 0 21px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color .2s linear;
}
.nav-link:hover {
    color: #18CFAB;
    text-decoration: none;
}
.search {
    width: 21px;
    height: 20px;
    padding-left: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    min-height: 1012px;
}
.intro-description {
    text-transform: uppercase;
    font-size: 78px;
    font-weight: 700;
    max-width: 800px;
    height: 80px;
    text-align: center;
    line-height: 1px;
    color: #FFFFFF;
}
.intro-inner {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-title {
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.intro-mint {
    font-size: 35px;
    color: #18CFAB;
    text-transform: uppercase;
}
.icon {
    margin-bottom: 47px;
    display: block;
}
.into-text {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    width: 795px;
    height: 34px;
    color: #D4D4D4;
    text-align: center;
    line-height: 1px;
    margin: 0;
    margin-bottom:134px;
}
.block {
    padding-bottom: 110px;
}

/* Button */
.purchase-btn {
    min-width: 169px;
    height: 63px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    align-items: center;
    text-transform: uppercase;
    background-color:  #00CBF6;
    line-height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    padding: 16px 12px 16px;
    margin-left: 26px;
 }
.explore-btn {
    min-width: 169px;
    height: 63px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    align-items: center;
    text-transform: uppercase;
    background-color:  #18CFAB;
    line-height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    padding: 16px 17px 16px;
    margin-bottom: 243px;
}
.btn {
    position: relative;
    z-index: 1;
}
.btn:after {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
    background: #FFFFFF;
    content: '';
    display: block;
    padding: 16px 17px 16px;
    z-index: -1;
    border-radius: inherit;
}

/* Section block*/
.block-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 83px;
}
.block-text li {flex:1;
   padding-bottom: 110px;
   box-sizing:border-box;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: end;
}
.block-text {
    width: 100%;
    display: flex;
}
.block-different {
    width: 25%;
    background-color:  #1C2A33;
    height: 377px;
    left: 0px;
    color: #18CFAB;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.block-fully {
    width: 25%;
    background-color:   #18CFAB;
    height: 377px;
    left: 0px;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.block-unlimited {
    width: 25%;
    background-color:   #1C2A33;
    height: 377px;
    left: 0px;
    color: #18CFAB;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.block-responsive {
    width: 25%;
    background-color:  #18CFAB;
    height: 377px;
    left: 0px;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

/* Section Main-Section*/
.our-service {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:  #4E4E4E;
    text-align: center;
    margin-bottom: 26px;
}
.separator-up {
    height: 4px;
    width: 76px;
    text-align: center;
    border-color:#18CFAB;
    border-bottom: 1px solid  #18CFAB;
    display: flex;
    margin-left: 47%;
}
.separator-down {
    height: 4px;
    width: 78px;
    margin-left: 48%;
    border-color:#18CFAB;
    border-bottom: 1px solid  #18CFAB;
    margin-bottom: 70px;
}
.section-content {
    min-height: 375px;
}
.tabs {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color:  #717171;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}
.ul {
    list-style: none;
    padding-left: 0;
}
.tabs-title {flex: 1;
    text-align: center;
    background-color:  #F8FCFE;
    color: #717171;
    cursor: pointer;
    text-decoration: none;
    padding: 17px 0;
    border: 1.5px solid transparent;
}
.tabs-title:hover {
    border: 1.5px solid #18CFAB;

}
.tabs-title.active {
    background-color:#18CFAB ;
    color: #FFFFFF;
}
.tab-text {
    display: flex;
    gap: 15px;
}
.hidden-tabs-content {
    display: none;
}
.tab-text {
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}
.tabs-content {
    margin-bottom: 90px;
}

/* Section Portfolio */
.section-portfolio {
    background: url(images/Layer\ 21\ 1.png);
    background-size: cover;
    width: 100%;
    height: 476px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portfolio-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color:  #18CFAB;
    margin-bottom: 12px;
}
.portfolio-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    width: 852px;
    height: 40px;
    margin-bottom: 67px;
}
.purchase-link {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}
.btn-purchase {
    min-width: 168px;
    height: 63px;
    border-radius: 5px;
    box-shadow:  0 -5px 0 0 #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    align-items: center;
    background-color:  #18CFAB;
    line-height: 32px;
    font-style: normal;
    font-weight: 700;
    padding: 16px 12px 16px;
    margin: 26px;
}

/* Section Work */
.section-work {
    background: #E9EDEF;
}
.work-title {
    padding-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:  #4E4E4E;
}
.hover {
    display: none;
}
.work-choice {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    color:  #717171;
    display: flex;
    justify-content: center;
    
    margin-bottom: 70px;
}
.choice-menu {
    text-align: center;
    color: #717171;
    border: 1px solid #DADADA;
    cursor: pointer;
    text-decoration: none;
    padding: 14px 16px;
    min-width: 78px;
}
.load-btn {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.active {
    border: 1px solid #18CFAB ;
    color: #18CFAB;
}
.creative-design {
    font-style: normal;
    font-weight: 700;
    font-size: 14.17px;
    line-height: 25px;
    text-transform: uppercase;
    color:  #18CFAB;
    margin-top: 24px;
}
.creative-design :hover {
    color:  #18CFAB;
}
.web-design {
    font-style: normal;
    font-weight: 300;
    font-size: 12.15px;
    line-height: 25px;
    color: #8A8A8A;
}
.effect {
    text-decoration: none;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.hidden-effect {
    text-align: center;
}
.effect svg {
    fill: #18CFAB;
}
.effect:hover svg {
    fill: #FFFFFF;
}
.effect:hover {
    background: #18CFAB;
}
.work-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    position: relative;
    padding-bottom: 232px;
}
.load-btn {
    width: 168px;
    height: 63px;
    background: #18CFAB;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 99px;
}
.img-form {
    padding-right: 15px;
    height: 100%;
    width: 18px;
    height: 19px;
}
.img-card {
    height: 206px;
    width: 285px;
}
.img-card>.hidden-effect{
    display: none;
}
.img-card:hover>.hidden-effect {
    display: block;
}
.img-card:hover>img {
    display: none;
}

/* Section-blog */
.blog-news {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:  #4E4E4E;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 82px;
}
.separator-down {
    margin-bottom: 68px;
}
.gallery-item a {
    text-decoration: none;
}
.blog-post {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:  17.99px;
    line-height: 39px;
    color: #717171;
    padding-left: 15px;
}
.gallery-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203E38;
    width: 70px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.post:hover .blog-post {
    color: #18CFAB;
}
.post:hover .gallery-text {
    background-color: #18CFAB;
}
.gallery-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 44px;
}
.gallery-item {
    position: relative;
}
.admin-comment a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}
.admin-comment {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}
.admin:after {
    content: "";
    border-left: 1px solid #777777;
    bottom: 0;
    height: 18px;
    right: 0;
    top: 0;
    display: inline-block;
    position: absolute;
    margin: auto 0 auto 10px;
}
.admin {
    position: relative;
    padding-right: 10px;
}


/* Section ham*/
.section-ham {
    background: url(./images/SectionsBackground/section-3.jpg);
    background-size: 100% 100%;
    margin-top: 129px;
    text-align: center;
}
.about-ham {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding-top: 98px;
    text-align: center;
    margin-bottom: 25px;
}
.quotes {
    margin-bottom: 66px;
    display: flex;
    margin-left: 48%;
    margin-bottom: 36px;
}
.people-say {
    width: 1160px;
    height: 45px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
    color:  #BBBBBB;
    margin-bottom: 37px;
}
.slider-nav {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.slick-dots {
    display: flex;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    margin: auto!important;
    height: fit-content;
}
.active-img {
    margin: 20px auto;
    border-radius: 50%;
    border: 5px solid rgba(16, 76, 75,0.6);
}
.slick-slide>.img-ham {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.slick-arrow {
    border: 1px solid #BBBBBB;
    padding: 8px 10px;
}
.prevArrow {
    position: left;
}
.slick-item svg {
     fill:  #BBBBBB;
}
.nav-slide {
    display: flex!important;
    justify-content: center;
}
.name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color:  #18CFAB;
}
.work {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #BBBBBB;
    margin-bottom: 38px;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px;
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
.slick-arrow:hover {
    background: #18CFAB;
    border: 1px solid transparent;
}
.slick-arrow:hover svg {
    fill: #FFFFFF;
}
.slick-current {
    position: relative;
    top: -20px;
}
.active-img {
    text-align: center;
    width: 58px;
    height: 58px;
}
.big-img {
    width: 166px;
    height: 166px;
    margin-bottom: 30px;
    border-width: 10px;
}

/* Footer */
.footer {
    background: #22353F;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color:  #AEAEAE;
    padding: 40px 0;
}
.second-color {
    color: #18CFAB;
}




